---
---

<%= image_tag 'logos/02.svg', :class => "logo" %>

<div class="container">
  <h1 id="snackverkstan-i-almedalen-2017">Snackverkstan i Almedalen 2017</h1>
  <p>Från idé till utförande</p>

  <h2 id="vad">Vad?</h2>
  <p>Du vill förändra, vi vill bygga.
  Ta fem minuter och kom hit och berätta.</p>

  <p>En idé är värdelös utan utförande. Goda idéer är ingen bristvara i Almedalen. Vi vill att fler idéer går från snack till verkstad.</p>

  <p>Vi är experter på att bygga webbplatser, webbtjänster, appar och kampanjer och vårt samarbete kommer att resultera i något sådant.</p>

  <h2 id="nr">När?</h2>
  <p><%= image_tag('icons/calendar.svg', :class => "svg") %> Tisdag 4 juli 16:00–18:00</p>

  <h2 id="var">Var?</h2>
  <p><%= image_tag('icons/location.svg', :class => "svg") %> Campus Gotland, Cramérgatan 3 vid hamnen, sal D24<br>
  <a href="https://www.google.se/maps/place/Uppsala+University+Campus+Gotland/@57.6393055,18.286363,17z/data=!4m8!1m2!2m1!1sCampus+Gotland,+Cram%C3%A9rgatan+3,+621+57++VISBY!3m4!1s0x46f7aed600bf08cb:0x350e688665a19a2b!8m2!3d57.639167!4d18.288333">Google Maps</a> / <a href="https://www.hitta.se/kartan!~57.63944,18.28898,14z/tr!i=ORK3lyEk/search!st=plc!q=Cram%C3%A9rgatan%203%2C%20Visby!b=57.62799:18.23404,57.65087:18.34391!t=combined!ai=1005649073!aic=57.63944:18.28898">Hitta.se</a></p>

  <h2 id="fr-vem">För vem?</h2>
  <p>Du kan vara en enskild individ, ett företag, en förening eller en organisation.</p>

  <h2 id="hur">Hur?</h2>
  <ol>
  <li><a href="https://docs.google.com/a/kollegorna.se/forms/d/e/1FAIpQLSevYRXolvKNNra2W_9mvI7_uRdAcsFBKZfKzYkjaVDbdbuz6g/viewform">Fyll i detta underlag</a>. Du kan göra det redan nu. Var kort och koncis.</li>
  <li>Kom hit och säg hej. Om du vill kan du ta några minuter att presentera dig och din idé ytterligare.</li>
  <li>Gå vidare. Mingla, käka, vila eller bara njut av sommarkvällen. Vi hör av oss på onsdag.</li>
  </ol>

  <h2 id="vilka-str-bakom">Vilka står bakom?</h2>

  <p>Du kommer träffa oss:</p>

  <p><%= image_tag 'per-sandstrom-magnus-nilsson.jpg' %></p>

  <h3 id="per-sandstrm-kollegorna">Per Sandström, Kollegorna</h3>
  <p>Designer / Utvecklare<br>
  <%= image_tag('icons/mail.svg', :class => "svg") %> <a href="mailto:per@kollegorna.se">per@kollegorna.se</a><br>
  <%= image_tag('icons/phone.svg', :class => "svg") %> <a href="tel:+46702420750">070—242 07 50</a><br>
  <%= image_tag('icons/twitter.svg', :class => "svg") %> <a href="https://twitter.com/persand">Twitter</a><br>
  <%= image_tag('icons/linkedin.svg', :class => "svg") %> <a href="https://www.linkedin.com/in/psandstrom/">LinkedIn</a></p>

  <p><a href="https://www.kollegorna.se/sv">Kollegorna</a> bygger digitala produkter och tjänster för b.la. SKL, Paradox Interactive, Kommunal, Wrapp, Medievärlden och Valu8 Group. T.ex. <a href="https://www.kollegorna.se/sv/projekt/vembi/">fintech-tjänster</a> med <a href="https://www.kollegorna.se/sv/projekt/valu8/">stora mängder data</a>, <a href="https://www.kollegorna.se/sv/projekt/skl-genombrott/">innovationsverktyg</a> för vården, <a href="https://www.kollegorna.se/sv/projekt/medievarlden-premium/">redaktionellt drivna webbplatser</a>, <a href="https://www.kollegorna.se/sv/projekt/edumedia-tunisie/">pedagogiska verktyg</a>, eller en <a href="https://www.kollegorna.se/sv/projekt/the-icebreaker-machine/">robot som blandar dig en personlig drink</a> baserat på din Facebook-profil.</p>

  <h3 id="magnus-nilsson-portabla-media">Magnus Nilsson, Portabla Media</h3>
  <p>Digital strateg<br>
  <%= image_tag('icons/mail.svg', :class => "svg") %> <a href="mailto:magnus@portablamedia.se">magnus@portablamedia.se</a><br>
  <%= image_tag('icons/phone.svg', :class => "svg") %> <a href="tel:+46708267128">070—826 71 28</a><br>
  <%= image_tag('icons/twitter.svg', :class => "svg") %> <a href="https://twitter.com/nymagnum">Twitter</a><br>
  <%= image_tag('icons/linkedin.svg', :class => "svg") %> <a href="https://www.linkedin.com/in/nymagnum/">LinkedIn</a></p>

  <p><a href="http://www.portablamedia.se">Portabla Media</a> är en digital byrå som för samman teknik med affärer och kommunikation genom arbete med webbplatser, appar och sociala medier.</p>

  <h2 id="det-finstilta">Det finstilta</h2>
  <ul>
  <li>Vi väljer den idé som vi anser kunna göra bästa resultat med.</li>
  <li>Arbetet sätter igång senast på torsdag morgon. Vi sätter ihop ett team anpassat efter idén.</li>
  <li>På tisdag ska något lanseras, men det behöver inte vara ett avslut.</li>
  <li>Allt arbete sker utan någon kostnad.</li>
  <li>Resultatet, såväl innehåll som design samt teknik, görs tillgängligt för allmänheten med öppna licenser.</li>
  <li>Du ser till att vara tillgänglig och har möjlighet att dedikera den tid som krävs av dig. Ett bra samarbete är en förutsättning för ett bra resultat.</li>
  </ul>

  <h2 id="tipsa-och-flj">Tipsa och följ</h2>

  <p>Sprid ordet om oss! Med c:a 3400 programpunkter under måndag – onsdag behöver vi all hjälp vi kan få. ❤️</p>

  <p><a href="https://twitter.com/snackverkstan">Följ @snackverkstan på Twitter</a></p>

  <h2 id="avslutningsvis">Vi är tillbaka 2018!</h2>
  <p>Snackverkstan är en digital verkstad som ska bli en återkommande tillställning i Almedalen. Idéer ska börja bli verklighet innan Visby tömts på människor och återgår till vardagen.</p>

  <p>Till 2018 års upplaga vill vi involvera fler branschkollegor som kan bidra till att fler idéer genomförs. Fyll i din e-post nedan så hörs vi i augusti.</p>
</div>

<div class="newsletter-box">
  <div class="form">
    <form action="//kollegorna.us1.list-manage.com/subscribe/post?u=849a51f69c41c923729de379e&amp;id=e808b92130" class="newsletter" method="post">
      <input class="newsletter__email" type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="E-post">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_849a51f69c41c923729de379e_e808b92130" tabindex="-1" value=""></div>
      <input type="submit" class="newsletter__submit" value="Skicka" name="submit">
    </form>
  </div>

  <p>Vi skickar <strong>ett</strong> mail efter sommaren. Inget mer, inget spam.</p>
</div>
